@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow');


body {
	font-size: 16px;
	line-height: 20px;
	color: #000;
	font-weight: bold;
	font-family: "PT Sans Narrow", Sans-serif;
}

h1 {
	font-size: 30px;
	line-height: 42px;
	text-transform: uppercase;
	color: #000;
}

.discription_title {
	font-size: 24px;
	line-height: 30px;
}


.features_title {
	font-size: 30px;
	line-height: 42px;
	color: #f7f4f1;
	text-transform: uppercase;
}

.column_title {
	font-size: 30px;
	line-height: 42px;
	color: #000;
	text-transform: uppercase;

}



